<form action="/products" method="post">
        <label>Ingresa el nombre del producto</label>
        <input type="text" name="title" placeholder="Title" required id="">
        <label>Ingresa el precio de tu producto</label>
        <input type="text" name="price" required placeholder="price">
        <label>Ingresa la URL</label>
        <input type="text" name="thumbnail"required placeholder="link img">
        <input type="submit">
</form>
