<h1>Lista de Productos</h1>
<hr/>
{{#if exist}}
    <section class="listProductsContainer">
        {{#each products}}
            <ul >
                <li>Nombre: {{this.title}}</li>
                <li>Precio: ${{this.price}}</li>
                <li><img src={{this.thumbnail}} alt=""><li>
            </ul>
            <hr/>
        {{/each}}
    </section>
{{/if}}