<section>
        <h2>Mensajeria</h2>
        <div>
            <label for="nameUser">Email:</label>
            <input type="email" class="input" name="email" id="email" placeholder="jon_doe@gmail.com">
        </div>
        <div class="msgListContainer">
                    {{#each allMsg}}
            <p>
                <i class="emailText">email: {{this.email}}</i>
                <i class="dateText">{{this.date}}:</i>
                <i class="mensajeText"> mensaje: {{this.content}}</i>
            </p>
            <hr/>
        {{/each}}
        </div>
        <div>
            <div class="msgInputContainer">
                <textarea name="content" id="contentMsg" placeholder="Escribe un mensaje..."></textarea>
            </div>
            <button onclick="enviarMensaje()" class="submit">Enviar</button>
        </div>
</section>