
<section class="formContainer">
        <form  id="formProducts" name="formProducts" method="post">
        <label>Ingresa el nombre del producto</label>
        <input type="text" name="title" placeholder="Title" required id="title">
        <label>Ingresa el precio de tu producto</label>
        <input type="text" name="price" required placeholder="price" id="price">
        <label>Ingresa la URL</label>
        <input type="text" name="thumbnail"required placeholder="link img" id="thumbnail">
        <button onclick="addProduct()">Enviar</button>
</form>
</section>
<div id="postsProducts">
</div>
<div id="postsMsg">
</div>
