
<section class="formContainer">
        <h2>Ingrese su producto</h2>
        <div  id="formProducts" name="formProducts">
                <div>
                        <label>Ingresa el nombre del producto</label>
                        <input type="text" name="title" placeholder="Nombre del producto" required id="title" class="input">
                </div>
                <div>
                        <label>Ingresa el precio de tu producto</label>
                        <input type="text" name="price" required placeholder="Precio del producto" id="price" class="input">
                </div>
                <div>
                        <label>Ingresa la URL</label>
                        <input type="text" name="thumbnail"required placeholder="Link a la imagen de su producto" id="thumbnail" class="input">
                </div>
                <div>
                        <label for="codigo">Ingrese el PLU del producto</label>
                        <input type="text" name="codigo" placeholder="12387612981" id="codigo" class="input">
                </div>
                <div>
                        <label for="stock">Ingrese el stock del producto</label>
                        <input type="text" name="stock" placeholder="9" id="stock" class="input">
                </div>
                <div>
                        <label for="descripcion">Ingrese una breve descripcion del producto</label>
                        <textarea name="descripcion" id="descripcion" class=""></textarea>
                </div>
                <div>
                        <input type="submit"  onclick="sendForm()" class="submit"/>
                </div>
                <button onclick="switchToAdminMode()" class="submit">Modo Admin</button>
        </div>
</section>
<div id="listProducts">

</div>

