
<section class="formContainer">
        <h2>Ingrese su producto</h2>
        <form  id="formProducts" name="formProducts" method="post">
                <div>
                        <label>Ingresa el nombre del producto</label>
                        <input type="text" name="title" placeholder="Nombre del producto" required id="title" class="input">
                </div>
                <div>
                        <label>Ingresa el precio de tu producto</label>
                        <input type="text" name="price" required placeholder="Precio del producto" id="price" class="input">
                </div>
                <div>
                        <label>Ingresa la URL</label>
                        <input type="text" name="thumbnail"required placeholder="Link a la imagen de su producto" id="thumbnail" class="input">
                </div>
                <button onclick="addProduct()" class="submit">Enviar</button>
        </form>
</section>
<div id="postsProducts" class="postProducts">
</div>
<div id="postsMsg" class="postsMsgContainer">
</div>
