<h1>Lista de Productos</h1>
<% if (exist) {%>
    <section>
        <% products.forEach(function(product) { %>
            <ul>
                <li><%= product.title %></li>
                <li><%= product.price %></li>
                <li><%= product.thumbnail %></li>
            </ul>
            <hr/>
        <% }); %>
    </section>
<%} %>
<a href="./products">volver</a>

